*{
    margin: 0;
    padding: 0;
    color: brown;
    background-color: burlywood;
    text-align: center;
    font-family: fantasy;
    border-radius: 15px;
    box-shadow: darkred 1px 1px 17px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}